CREATE DATABASE OBS
GO
USE [OBS]
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Bolum](
	[BolumId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Adres] [varchar](200) NOT NULL,
	[Kod] [varchar](3) NOT NULL,
	[FakulteId] [int] NOT NULL,
 CONSTRAINT [PK_Bolum] PRIMARY KEY CLUSTERED 
(
	[BolumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Ders](
	[DersId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Kod] [varchar](3) NOT NULL,
	[BolumId] [int] NOT NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[DersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Donem](
	[DonemId] [int] IDENTITY(1,1) NOT NULL,
	[Yil] [int] NOT NULL,
	[DonemTip] [int] NOT NULL,
 CONSTRAINT [PK_Donem] PRIMARY KEY CLUSTERED 
(
	[DonemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_DonemDers](
	[DonemDersId] [int] IDENTITY(1,1) NOT NULL,
	[DonemId] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[OgretimGorevlisiId] [int] NOT NULL,
 CONSTRAINT [PK_DonemDers] PRIMARY KEY CLUSTERED 
(
	[DonemDersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Duyuru](
	[DuyuruId] [int] IDENTITY(1,1) NOT NULL,
	[Duyuru] [varchar](250) NOT NULL,
	[BolumID] [int] NOT NULL,
 CONSTRAINT [PK_Duyuru] PRIMARY KEY CLUSTERED 
(
	[DuyuruId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Fakulte](
	[FakulteId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Adres] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Fakulte] PRIMARY KEY CLUSTERED 
(
	[FakulteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Kullanici](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[KimlikNo] [nvarchar](11) NULL,
	[Turu] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OBS_Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Ogrenci](
	[OgrenciId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Soyad] [varchar](200) NOT NULL,
	[KimlikNo] [varchar](11) NOT NULL,
	[EPosta] [varchar](200) NOT NULL,
	[DogumTarih] [datetime] NOT NULL,
	[GirisTarih] [datetime] NOT NULL,
	[BolumId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[Resim] [varbinary](max) NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[OgrenciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_OgrenciDonemDers](
	[KayıtId] [int] IDENTITY(1,1) NOT NULL,
	[DonemDersId] [int] NOT NULL,
	[OgrenciId] [int] NOT NULL,
	[Vize1] [int] NOT NULL,
	[Vize2] [int] NOT NULL,
	[Final_Not] [int] NOT NULL,
	[Ortalama] [int] NOT NULL,
	[BasariDurumTip] [int] NOT NULL,
 CONSTRAINT [PK_OgrenciDonemDers] PRIMARY KEY CLUSTERED 
(
	[KayıtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_OgrenciSinav](
	[OgrenciSinavId] [int] NOT NULL,
	[OgrenciId] [int] NOT NULL,
	[SinavId] [int] NOT NULL,
	[Notu] [int] NULL,
 CONSTRAINT [PK_OBS_OgrenciSinav] PRIMARY KEY CLUSTERED 
(
	[OgrenciSinavId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_OgretimGorevlisi](
	[OgretimGorevlisiId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Soyad] [varchar](200) NOT NULL,
	[KimlikNo] [varchar](11) NOT NULL,
	[EPosta] [varchar](200) NOT NULL,
	[DogumTarih] [datetime] NOT NULL,
	[GirisTarih] [datetime] NOT NULL,
	[BolumId] [int] NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[Resim] [varbinary](max) NULL,
 CONSTRAINT [PK_OgretimGorevlisi] PRIMARY KEY CLUSTERED 
(
	[OgretimGorevlisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_OgretimGorevlisiDers](
	[OgretmenDersId] [int] NOT NULL,
	[OgretimGorevlisiId] [int] NOT NULL,
	[DonemDersId] [int] NOT NULL,
 CONSTRAINT [PK_OBS_OgretimGorevlisiDers] PRIMARY KEY CLUSTERED 
(
	[OgretmenDersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBS_Sinav_Tarih]    Script Date: 15.05.2023 09:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBS_Sinav_Tarih](
	[Sinav_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sinav_Tur] [int] NOT NULL,
	[Sinav_Tarih] [datetime] NOT NULL,
	[DonemDersId] [int] NOT NULL,
 CONSTRAINT [PK_Sinav_Tarih] PRIMARY KEY CLUSTERED 
(
	[Sinav_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OBS_Bolum] ON 

INSERT [dbo].[OBS_Bolum] ([BolumId], [Ad], [Adres], [Kod], [FakulteId]) VALUES (4, N'Bolum', N'İstanbul', N'T', 1)
INSERT [dbo].[OBS_Bolum] ([BolumId], [Ad], [Adres], [Kod], [FakulteId]) VALUES (5, N'Bolum 2', N'asd', N'asd', 1)
SET IDENTITY_INSERT [dbo].[OBS_Bolum] OFF
SET IDENTITY_INSERT [dbo].[OBS_Ders] ON 

INSERT [dbo].[OBS_Ders] ([DersId], [Ad], [Kod], [BolumId]) VALUES (5, N'terte', N'ert', 4)
INSERT [dbo].[OBS_Ders] ([DersId], [Ad], [Kod], [BolumId]) VALUES (1013, N'Ders2', N'd2', 4)
INSERT [dbo].[OBS_Ders] ([DersId], [Ad], [Kod], [BolumId]) VALUES (1015, N'Yeni ders', N'de1', 4)
SET IDENTITY_INSERT [dbo].[OBS_Ders] OFF
SET IDENTITY_INSERT [dbo].[OBS_Donem] ON 

INSERT [dbo].[OBS_Donem] ([DonemId], [Yil], [DonemTip]) VALUES (1, 2021, 1)
SET IDENTITY_INSERT [dbo].[OBS_Donem] OFF
SET IDENTITY_INSERT [dbo].[OBS_DonemDers] ON 

INSERT [dbo].[OBS_DonemDers] ([DonemDersId], [DonemId], [DersId], [OgretimGorevlisiId]) VALUES (3, 1, 5, 1)
INSERT [dbo].[OBS_DonemDers] ([DonemDersId], [DonemId], [DersId], [OgretimGorevlisiId]) VALUES (4, 1, 1013, 1)
INSERT [dbo].[OBS_DonemDers] ([DonemDersId], [DonemId], [DersId], [OgretimGorevlisiId]) VALUES (1004, 1, 1013, 1)
SET IDENTITY_INSERT [dbo].[OBS_DonemDers] OFF
SET IDENTITY_INSERT [dbo].[OBS_Duyuru] ON 

INSERT [dbo].[OBS_Duyuru] ([DuyuruId], [Duyuru], [BolumID]) VALUES (3, N'Duyurdur .  ', 4)
INSERT [dbo].[OBS_Duyuru] ([DuyuruId], [Duyuru], [BolumID]) VALUES (4, N'yeni duyuru', 4)
INSERT [dbo].[OBS_Duyuru] ([DuyuruId], [Duyuru], [BolumID]) VALUES (1006, N'Duyduk duymadık demeyin', 4)
SET IDENTITY_INSERT [dbo].[OBS_Duyuru] OFF
SET IDENTITY_INSERT [dbo].[OBS_Fakulte] ON 

INSERT [dbo].[OBS_Fakulte] ([FakulteId], [Ad], [Adres]) VALUES (1, N'Fakülte', N'İstanbul')
SET IDENTITY_INSERT [dbo].[OBS_Fakulte] OFF
SET IDENTITY_INSERT [dbo].[OBS_Kullanici] ON 

INSERT [dbo].[OBS_Kullanici] ([KullaniciId], [KullaniciAdi], [Sifre], [KimlikNo], [Turu]) VALUES (1, N'Admin', N'1', N'1', N'Admin')
INSERT [dbo].[OBS_Kullanici] ([KullaniciId], [KullaniciAdi], [Sifre], [KimlikNo], [Turu]) VALUES (2, N'Ogrenci', N'q', N'q', N'Ogrenci')
INSERT [dbo].[OBS_Kullanici] ([KullaniciId], [KullaniciAdi], [Sifre], [KimlikNo], [Turu]) VALUES (3, N'Ogretmen', N'a', N'a', N'OgretimGorevlisi')
SET IDENTITY_INSERT [dbo].[OBS_Kullanici] OFF
SET IDENTITY_INSERT [dbo].[OBS_Ogrenci] ON 

SET IDENTITY_INSERT [dbo].[OBS_Ogrenci] OFF
SET IDENTITY_INSERT [dbo].[OBS_OgrenciDonemDers] ON 

INSERT [dbo].[OBS_OgrenciDonemDers] ([KayıtId], [DonemDersId], [OgrenciId], [Vize1], [Vize2], [Final_Not], [Ortalama], [BasariDurumTip]) VALUES (1003, 1005, 3, 0, 0, 0, 0, 0)
INSERT [dbo].[OBS_OgrenciDonemDers] ([KayıtId], [DonemDersId], [OgrenciId], [Vize1], [Vize2], [Final_Not], [Ortalama], [BasariDurumTip]) VALUES (2002, 2004, 3, 1, 2, 3, 2, 0)
INSERT [dbo].[OBS_OgrenciDonemDers] ([KayıtId], [DonemDersId], [OgrenciId], [Vize1], [Vize2], [Final_Not], [Ortalama], [BasariDurumTip]) VALUES (2003, 1004, 3, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[OBS_OgrenciDonemDers] OFF
SET IDENTITY_INSERT [dbo].[OBS_OgretimGorevlisi] ON 

INSERT [dbo].[OBS_OgretimGorevlisi] ([OgretimGorevlisiId], [Ad], [Soyad], [KimlikNo], [EPosta], [DogumTarih], [GirisTarih], [BolumId], [KullaniciId], [Resim]) VALUES (2, N'qwe', N'qwe', N'123123', N'123', CAST(N'2022-01-14T22:21:00.000' AS DateTime), CAST(N'2022-01-14T22:21:00.000' AS DateTime), 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[OBS_OgretimGorevlisi] OFF
ALTER TABLE [dbo].[OBS_Bolum]  WITH CHECK ADD  CONSTRAINT [FK_Bolum_Fakulte_FakulteId] FOREIGN KEY([FakulteId])
REFERENCES [dbo].[OBS_Fakulte] ([FakulteId])
GO
ALTER TABLE [dbo].[OBS_Bolum] CHECK CONSTRAINT [FK_Bolum_Fakulte_FakulteId]
GO
ALTER TABLE [dbo].[OBS_Ders]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Bolum_BolumId] FOREIGN KEY([BolumId])
REFERENCES [dbo].[OBS_Bolum] ([BolumId])
GO
ALTER TABLE [dbo].[OBS_Ders] CHECK CONSTRAINT [FK_Ders_Bolum_BolumId]
GO
ALTER TABLE [dbo].[OBS_DonemDers]  WITH CHECK ADD  CONSTRAINT [FK_DonemDers_Ders_DersId] FOREIGN KEY([DersId])
REFERENCES [dbo].[OBS_Ders] ([DersId])
GO
ALTER TABLE [dbo].[OBS_DonemDers] CHECK CONSTRAINT [FK_DonemDers_Ders_DersId]
GO
ALTER TABLE [dbo].[OBS_DonemDers]  WITH CHECK ADD  CONSTRAINT [FK_DonemDers_Donem_DonemId] FOREIGN KEY([DonemId])
REFERENCES [dbo].[OBS_Donem] ([DonemId])
GO
ALTER TABLE [dbo].[OBS_DonemDers] CHECK CONSTRAINT [FK_DonemDers_Donem_DonemId]
GO
ALTER TABLE [dbo].[OBS_DonemDers]  WITH CHECK ADD  CONSTRAINT [FK_DonemDers_OgGorevId] FOREIGN KEY([OgretimGorevlisiId])
REFERENCES [dbo].[OBS_OgretimGorevlisi] ([OgretimGorevlisiId])
GO
ALTER TABLE [dbo].[OBS_DonemDers] CHECK CONSTRAINT [FK_DonemDers_OgGorevId]
GO
ALTER TABLE [dbo].[OBS_Duyuru]  WITH CHECK ADD  CONSTRAINT [FK_Duyuru_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[OBS_Bolum] ([BolumId])
GO
ALTER TABLE [dbo].[OBS_Duyuru] CHECK CONSTRAINT [FK_Duyuru_Bolum]
GO
ALTER TABLE [dbo].[OBS_Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_OBS_Ogrenci_OBS_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[OBS_Kullanici] ([KullaniciId])
GO
ALTER TABLE [dbo].[OBS_Ogrenci] CHECK CONSTRAINT [FK_OBS_Ogrenci_OBS_Kullanici]
GO
ALTER TABLE [dbo].[OBS_Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_Ogrenci_Bolum_BolumId] FOREIGN KEY([BolumId])
REFERENCES [dbo].[OBS_Bolum] ([BolumId])
GO
ALTER TABLE [dbo].[OBS_Ogrenci] CHECK CONSTRAINT [FK_Ogrenci_Bolum_BolumId]
GO
ALTER TABLE [dbo].[OBS_OgrenciDonemDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDonemDers_Id] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[OBS_Ogrenci] ([OgrenciId])
GO
ALTER TABLE [dbo].[OBS_OgrenciDonemDers] CHECK CONSTRAINT [FK_OgrenciDonemDers_Id]
GO
ALTER TABLE [dbo].[OBS_OgrenciDonemDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDonemDersId] FOREIGN KEY([DonemDersId])
REFERENCES [dbo].[OBS_DonemDers] ([DonemDersId])
GO
ALTER TABLE [dbo].[OBS_OgrenciDonemDers] CHECK CONSTRAINT [FK_OgrenciDonemDersId]
GO
ALTER TABLE [dbo].[OBS_OgrenciSinav]  WITH CHECK ADD  CONSTRAINT [FK_OBS_OgrenciSinav_OBS_Ogrenci] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[OBS_Ogrenci] ([OgrenciId])
GO
ALTER TABLE [dbo].[OBS_OgrenciSinav] CHECK CONSTRAINT [FK_OBS_OgrenciSinav_OBS_Ogrenci]
GO
ALTER TABLE [dbo].[OBS_OgrenciSinav]  WITH CHECK ADD  CONSTRAINT [FK_OBS_OgrenciSinav_OBS_Sinav_Tarih] FOREIGN KEY([SinavId])
REFERENCES [dbo].[OBS_Sinav_Tarih] ([Sinav_Id])
GO
ALTER TABLE [dbo].[OBS_OgrenciSinav] CHECK CONSTRAINT [FK_OBS_OgrenciSinav_OBS_Sinav_Tarih]
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisi]  WITH CHECK ADD  CONSTRAINT [FK_OBS_OgretimGorevlisi_OBS_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[OBS_Kullanici] ([KullaniciId])
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisi] CHECK CONSTRAINT [FK_OBS_OgretimGorevlisi_OBS_Kullanici]
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisi]  WITH CHECK ADD  CONSTRAINT [FK_OgretimGorevlisi] FOREIGN KEY([BolumId])
REFERENCES [dbo].[OBS_Bolum] ([BolumId])
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisi] CHECK CONSTRAINT [FK_OgretimGorevlisi]
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisiDers]  WITH CHECK ADD  CONSTRAINT [FK_OBS_OgretimGorevlisiDers_OBS_DonemDers] FOREIGN KEY([DonemDersId])
REFERENCES [dbo].[OBS_DonemDers] ([DonemDersId])
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisiDers] CHECK CONSTRAINT [FK_OBS_OgretimGorevlisiDers_OBS_DonemDers]
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisiDers]  WITH CHECK ADD  CONSTRAINT [FK_OBS_OgretimGorevlisiDers_OBS_OgretimGorevlisi] FOREIGN KEY([OgretimGorevlisiId])
REFERENCES [dbo].[OBS_OgretimGorevlisi] ([OgretimGorevlisiId])
GO
ALTER TABLE [dbo].[OBS_OgretimGorevlisiDers] CHECK CONSTRAINT [FK_OBS_OgretimGorevlisiDers_OBS_OgretimGorevlisi]
GO
ALTER TABLE [dbo].[OBS_Sinav_Tarih]  WITH CHECK ADD  CONSTRAINT [FK_Sinav_DonemDers] FOREIGN KEY([DonemDersId])
REFERENCES [dbo].[OBS_DonemDers] ([DonemDersId])
GO
ALTER TABLE [dbo].[OBS_Sinav_Tarih] CHECK CONSTRAINT [FK_Sinav_DonemDers]
GO
