@{
	ViewData["Title"] = "Giriş";
	Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="text-center" style="text-align:center!important">
	<h3 class="center" style="align-content:center; margin-top:250px;">Oturum Aç</h3>
	<div class="center" style="align-content:center;">
		
		<div style="color:red">
			@ViewBag.error
		</div>
		<div style="margin-left:50px;">
			<img src="~/theme/dist/img/pirireisuniversitesilogo.png" />
		</div>
		<form method="post" asp-controller="account" asp-action="login">

			<table border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td>TC Kimlik No</td>
					<td><input type="text" name="tcno"></td>
				</tr>
				<tr>
					<td>Şifre</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Giriş"></td>
				</tr>
			</table>
		</form>

	</div>
</div>
