@model OBS_MVC.Models.ObsOgrenciDonemDers

@{
    ViewData["Title"] = "OgrenciDersEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OgrenciDersEdit</h1>

<h4>ObsOgrenciDonemDers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OgrenciDersEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KayıtId" />
            <input type="hidden" asp-for="DonemDersId" />
            <input type="hidden" asp-for="OgrenciId" />
            <div class="form-group">
                <label asp-for="DonemDers.Ders.Ad" class="control-label"></label>
                <input asp-for="DonemDers.Ders.Ad" class="form-control" type="text" readonly="readonly"/>
                @*<span asp-validation-for="DonemDersId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.Ad" class="control-label"></label>
                <input asp-for="Ogrenci.Ad" class="form-control" type="text" readonly="readonly"/>
                @*<span asp-validation-for="OgrenciId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Vize1" class="control-label"></label>
                <input asp-for="Vize1" class="form-control" />
                <span asp-validation-for="Vize1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vize2" class="control-label"></label>
                <input asp-for="Vize2" class="form-control" />
                <span asp-validation-for="Vize2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalNot" class="control-label"></label>
                <input asp-for="FinalNot" class="form-control" />
                <span asp-validation-for="FinalNot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ortalama" class="control-label"></label>
                <input asp-for="Ortalama" class="form-control" />
                <span asp-validation-for="Ortalama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasariDurumTip" class="control-label"></label>
                <input asp-for="BasariDurumTip" class="form-control" />
                <span asp-validation-for="BasariDurumTip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DersOgrenciListesi" asp-route-id="@Model.DonemDersId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
