@model OBS_MVC.Models.ObsOgretimGorevlisiDers

@{
    ViewData["Title"] = "Oluştur";
}

<h1>Ekle</h1>

<h4>ObsOgretimGorevlisiDers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OgretmenDersId" class="control-label"></label>
                <input asp-for="OgretmenDersId" class="form-control" />
                <span asp-validation-for="OgretmenDersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgretimGorevlisiId" class="control-label"></label>
                <select asp-for="OgretimGorevlisiId" class ="form-control" asp-items="ViewBag.OgretimGorevlisiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DonemDersId" class="control-label"></label>
                <select asp-for="DonemDersId" class ="form-control" asp-items="ViewBag.DonemDersId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
