@model OBS_MVC.Models.ObsOgretimGorevlisi

@{
    ViewData["Title"] = "Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ekle</h1>

<h4>ObsOgretimGorevlisi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KimlikNo" class="control-label"></label>
                <input asp-for="KimlikNo" class="form-control" />
                <span asp-validation-for="KimlikNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eposta" class="control-label"></label>
                <input asp-for="Eposta" class="form-control" />
                <span asp-validation-for="Eposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarih" class="control-label"></label>
                <input asp-for="DogumTarih" class="form-control" />
                <span asp-validation-for="DogumTarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GirisTarih" class="control-label"></label>
                <input asp-for="GirisTarih" class="form-control" />
                <span asp-validation-for="GirisTarih" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CikisTarih" class="control-label"></label>
                <input asp-for="CikisTarih" class="form-control" />
                <span asp-validation-for="CikisTarih" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="BolumId" class="control-label"></label>
                <select asp-for="BolumId" class ="form-control" asp-items="ViewBag.BolumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <select asp-for="KullaniciId" class ="form-control" asp-items="ViewBag.KullaniciId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input type="file" id="file1" name="file1" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
